@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

html {
    scroll-behavior: smooth;
}

* {
    font-family: Roboto;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@keyframes rotatelogo {
    from{
        transform: rotate(0deg) scale(0) scale(3.5);
    }
    to {
        transform: rotate(360deg) scale(1) scale(0);
    }
}

.active {
    display: flex !important;
}

.page-wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: #000 url('../img/BG.png') center /cover no-repeat;
    justify-content: center;
    align-items: center;
}

.app-wrapper {
    display: block;
    width: 1168px;
    height: 675px;
    background-color: rgba(20, 20, 20, 0.65);
    border-radius: 25px;
}

.app__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
    margin-bottom: 36px;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
    border-radius: 25px;
    padding: 0 12px;
}

.app__logo {
    display: block;
    height: 100%;
}

.app__logo img {
    /* border-radius: 50%; */
    height: 56px;
    width: 56px;
    animation: rotatelogo 8s linear infinite;
}

.app-heading {
    user-select: none;
    cursor: default;
    color: #fff;
    flex: 1;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}


.selected-currency {
    position: relative;
    display: flex;
    max-width: 120px;
    height: 50px;
    background-color: #000;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-radius: 10px;
    border: 1px solid yellow;
    color: #fff;
}

.currency-list {
    display: none;
    flex-direction: column;
    position: absolute;
    list-style: none;
    padding-left: 0;
    top: 52px;
    left: 0;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.4);
    overflow: hidden;
    z-index: 1;
}

.currency-item {
    padding: 4px 0;
}

.curr-selection-icon {
    margin-left: 4px;
}

.currency-item:hover {
    background-color: rgba(255, 255, 255, 0.6);
    color: #000;
}



@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

.chart-container {
    height: 100%;
    width: 70%;
    position: absolute;
}

.app-content {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 84%;
}

.app__navbar {
    margin: 0 12px;
    display: flex;
}

.crypto-selection {
    position: relative;
    display: flex;
    max-width: 120px;
    height: 50px;
    background-color: #000;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-radius: 25px;
}

.crypto-selection-img {
    height: 35px;
    width: 35px;
}

.crypto-selection-name {
    text-transform: uppercase;
    color: #fff;
    flex: 1;
    padding: 0 6px;
    font-size: 16px;
    
}

.crypto-selection-icon {
    color: #fff;
    -moz-transition: all 2s linear;
    -webkit-transition: all 2s linear;
    transition: all 0.3s linear;
}

.crypto-selection-icon.down {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(90deg);
}

.selection-list {
    max-height: 200px;
    margin-top: 12px;
    list-style: none;
    background-color:rgba(0,0,0,0.6);
    width: 150px;
    display: none;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    overflow: auto;
    animation: FadeIn 0.4s linear;
    z-index: 10;
    position: absolute;
    top: 50px;
    left: 0;
}

.selection-list::-webkit-scrollbar {
    width: 5px;
    background-color: #fff;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.selection-list::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom,#d18b09, #00aefd);
    border-radius: 10px;
}

@keyframes FadeIn {
    from {
        transform-origin: top center;
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform-origin: top center;
        transform: scale(1);
        opacity: 1;
    }
}

.selection-item {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 6px 24px;
}

.selection-item:hover {
    background-color: rgba(255, 255, 255, 0.12);
}


.selection-item img {
    height: 35px;
    width: 35px;
}

.selection-item span {
    color: #fff;
    flex: 1;
    padding-left: 16px;
    font-size: 16px;
}

.currency-choice {
    display: flex;
    max-width: 120px;
    height: 50px;
    background-color: #000;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-radius: 25px;
}

#showChart {
    padding-left: 12px;
}

.chart-area {
    margin-top: 12px;
    min-height: 372px;
}

.chart-footer {
    position: absolute;
    top: 88%;
    display: none;
    justify-content: space-between;
    padding: 0 12px;
    flex: 1;
    width: 100%;
    left: 0;
}

.btn {
    color: #fff;
    width: 23%;
    border: 1px solid gold;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    font-weight: 500;
    border-radius: 5px;
}
.btn:hover {
    background-color: yellow;
    color: #000;
}
.btn.clicked {
    background-color: yellow !important;
    color: #000;
    font-weight: 700;
}

.coin-info {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28%;
    height: calc(100% - 24px);
    margin: 0 10px;
    border-left: 2px solid grey;
    border-bottom: 2px solid grey;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
    border-radius: 25px;
}

.coin-info-img {
    height: 100px;
    margin-top: 12px;
}

.coin-name {
    font-size: 48px;
    color: #fff;
    margin: 12px 0;
    font-weight: 700;
}

.coin-description {
    color: #fff;
    width: 100%;
    padding: 12px;
    text-align: justify;
    padding-top: 0;
    padding-bottom: 15px;
    font-size: 17px;
}

.coin-description a {
    text-decoration: none;
    color: yellow;
}



.real-time-info {
    position: absolute;
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 12px;
    align-self: start;
    padding-top: 10px;
    top: 58%;
}
.real-time-info label {
    font-size: 20px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    padding-top: 6px;
}

.real-time-info span {
    font-size: 20px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    padding: 6px 0;
    margin-bottom: 4px;
}